{%  extends 'main.html'  %}
{%  block body     %}

  <form action="/a" method="post">
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <label>Male ID:</label><br>
        <input type="text" name="mail_id" required><br><br>

        <label>Mobile Number:</label><br>
        <input type="tel" name="mobile" required><br><br>

        <input type="submit" value="Register">
    </form>

    {%  endblock %}